@font-face {
    font-family: "s-core-dream-thin";
    src: url(scdream1.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-extralight";
    src: url(scdream2.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-light";
    src: url(scdream3.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-regular";
    src: url(scdream4.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-medium";
    src: url(scdream5.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-bold";
    src: url(scdream6.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-extrabold";
    src: url(~/style/font/scdream7.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-heavy";
    src: url(~/style/font/scdream8.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "s-core-dream-black";
    src: url(~/style/font/scdream9.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
